/* body {
  color: #8f95ae;
  background-color: #121227;

}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 300;
}

pre,
code {
  background-color: transparent;
}
  
pre { padding-left: 0; }

.jumbotron {
  background-color: transparent;
}

.nav-link:not(.active) {
  color: #384047;
}

.site-footer {
  margin-top: 3rem;
  color: #384047;
  background: transparent;
} */


/* .jumbotron {
  background-color: $brand-primary;
}

body {
  color: #8f95ae;
}

h1, h2, h3, h4, h5, h6 {
  color: #121227;
  color: #1c1d22;
} */